@import "../styles/global.scss";

.input::placeholder {
  font-size: toRem(17);
  color: #a3a3a3;
}

.container {
  box-sizing: border-box;
}

.container {
  :global(.form-group) {
    position: relative;
    min-height: toRem(36);
    min-width: toRem(360);
    border: 1px solid $borderButton;
    border-radius: 6px;
    &:hover {
      border-color: $default;
    }
    input {
      box-shadow: none !important;
      min-height: toRem(36);
      border: 0;
      color: $bodyText;
      padding-left: toRem(48) !important;
      &::placeholder {
        font-size: toRem(16);
        line-height: toRem(20);
        color: #cdcdcd;
      }
    }
  }

  :global(.search-icon) {
    right: auto;
    left: toRem(10);
  }
  :global(.MuiSvgIcon-root) {
    width: toRem(20);
  }

  &.iconRight {
    :global(.form-group) .input {
      padding-left: toRem(16) !important;
      padding-right: toRem(10) !important;
    }

    :global(.form-group .search-icon) {
      left: auto !important;
      right: toRem(10);
    }
  }
}
.deleteIcon {
  position: absolute !important;
  padding-left: toRem(16) !important;
  padding-right: toRem(10) !important;
  left: auto !important;
  right: toRem(10);
  background-color: transparent;
  border: 0 none;
}

.inputFocused {
  :global(.form-group) {
    border-color: transparent !important;
    box-shadow: 0 0 0 1pt $primary;
  }
}
