@import "../../styles/global.scss";

.inputPasswordWrapper {
  position: relative;
  :global(.MuiOutlinedInput-input) {
    padding-right: toRem(50);
  }
  .endButton {
    position: absolute;
    top: 66%;
    transform: translatey(-50%);
    right: rem(5px);
    svg {
      transform: unset;
      width: toRem(20);
    }
  }
}
